html{
    height: 100%;
}
body{
    height: 100%;
}

nav{
    background-color: white;
    color: #666;
}

nav ul a{
    color: #666;
}

nav .brand-logo img{
    margin-left: 3%;
    margin-top: 5%;
}

.sectionHome{
    background: url(../media/images/travel.jpg) no-repeat center top #ABA666;
    min-height: 88%;
}

.btn{
    background-color: #656028;
}

.btn:hover{
    background-color: #89823d;
}

footer.page-footer{
    margin-top: 0;
    padding-top: 0;
}

.collapsible-header{
    background-color: #ABA666;
    border-bottom: 1px solid #34160E;
    color: #34160E;
    font-weight: 600;
}

.collapsible-header.active{
    background-color: #d8d28c;
}

.collapsible-body{
    background-color: #d8d28c;
    border-bottom: 1px solid #34160E;
    color: #34160E;
}

.listIndex li{
    list-style-type: decimal;
}

.padding{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
